*{
    font-family: 'Nunito', sans-serif;
}

.game__score{
    width: 100%;
    text-align: center;
    margin: 8px 0;
    font-size: 20px;
}

body{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    flex-direction: column;
}

.caption{
    width: 100%;
    text-align: center;
    margin-top: 80px;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
}

.game{
    width: 900px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    align-items: center;
}

.game__history{
    width: 316px;
    height: 300px;
    border: 4px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    box-sizing: border-box;
    overflow: auto;
}

.game__result{
    font-size: 20px;
    line-height: 2em;
}

.game__result__win{
    color:  red;
}

.game__step{
    width: 100%;
    text-align: center;
    margin: 8px 0 16px;
    font-weight: bold;
    font-size: 20px;
}

.restart{
    display: flex;
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 10px;
    margin-top: 50px;
    color: white;
    font-size: 50px;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.restart:hover{
    cursor: pointer;
    background-color: red;
}

.field{
    cursor: pointer;
    margin: 8px;
    background-color:black;
    border: 2px solid black;
}

.field__row{
    background-color:white;
}

.field__cell{
    width: 100px;
    height: 100px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.field__cell__win{
    color: red;
}